<nav class="navigation">
    
    
        <button class="navigation__knap"><a class="navigation__link" href="/">Forside</a></button>
        <button class="navigation__knap"><a class="navigation__link" href="/products">Produkter</a></button>
        <button class="navigation__knap"><a class="navigation__link" href="/test">Test</a></button>
        <button class="navigation__knap"><a class="navigation__link" href="/prettypictures">Pæne billeder</a></button>
        <button class="navigation__knap"><a class="navigation__link" href="/contacts">Contact</a></button>
        
    
        </nav>